<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/common.css">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    </head>
    <body>

    <!--
        <div class="container">
     -->
          <div class="page">
            <div class="header">
              <a href="{{ site.url }}/">Overview</a>
              <a href="{{ site.url }}/get/">How to get</a>
              <a href="{{ site.url }}/build/">Build & Install</a>
              <a href="{{ site.url }}/authors/">Authors</a>
              <a href="https://github.com/a-nikolaev/curseofwar/">Sources@Github</a>
            </div>

                {{ content }}

            <div class="footer">
              <!--
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
              -->
            </div>
          </div>
     <!--
        </div>
        -->

    </body>
</html>
