<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Curse of War</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/common.css">
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
              type="image/png" 
              href="{{ site.baseurl }}/favicon.png">

    </head>
    <body>

    <!--
        <div class="container">
     -->
          <div class="page">
            <div class="header">
              <a href="{{ site.baseurl }}/">Overview</a>
              <a href="{{ site.baseurl }}/install/">How to Install</a>
              <a href="{{ site.baseurl }}/build/">From Sources</a>
              <a href="{{ site.baseurl }}/options/">Options</a>
              <a href="{{ site.baseurl }}/howtoplay/">How to play</a>
              <a href="{{ site.baseurl }}/authors/">Authors</a>
              <a href="{{ site.baseurl }}/contacts/">Contacts</a>
              <a href="https://github.com/a-nikolaev/curseofwar/">Sources@Github</a>
            </div>

                {{ content }}

            <div class="footer">

              <img src="{{ site.baseurl }}/img/gpl3.png" style="vertical-align: middle;">
              <a href="https://github.com/a-nikolaev/curseofwar">
                <img src="{{ site.baseurl }}/img/github.png" style="vertical-align: middle;">
                <span style="vertical-align: middle;">https://github.com/a-nikolaev/curseofwar</span></a>
              <!--
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
              -->
            </div>
          </div>
     <!--
        </div>
        -->

    </body>
</html>
